<h1> All articles </h1>

<%= link_to "Create new article", new_article_path %>

<% @articles.each do |article| %>
  <p> <%= article.title %> </p>
  <%= link_to "see more", article_path(article) %>
  <%= link_to "edit article", edit_article_path(article) %>
  <%= link_to "delete article", article_path(article), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
